.user {
  h1 {
    color: red;
  }

  .content {
    padding: 0 20px;

    p {
      font-size: 18px;

      b {
        font-weight: 600;

        a {
          color: #4c4c4c;
        }
      }
    }
  }
}
